<footer>
  <a href="{{site.gitlab_repo}}/-/edit/main/{{page.path}}" target="_blank">Edit this page</a>
  ·
  <a href="{{site.gitlab_repo}}/-/issues/new?issue%5Btitle%5D=Documentation%20Feedback{% if page.title %}:%20{{page.title | cgi_escape}}{% endif %}&issue%5Bdescription%5D=URL:%20{{page.url | absolute_url | cgi_escape}}%0AEnter%20feedback%20here:">Create documentation issue</a>
</footer>
